<p id="notice"><%= notice %></p>

<h1>Listing Lines of Codes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lines</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= code.name %></td>
        <td><%= code.lines %></td>
        <td><%= link_to 'Show', code %></td>
        <td><%= link_to 'Edit', edit_code_path(code) %></td>
        <td><%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>

<B><I><%= link_to 'New Lines of Code Entry', new_code_path %></I></B>

<br>
<br>

<p><B>Statistics</p></B>
<p><B>Mean: </B> <%= @dv.mean %></p>
<p><B>Median:</B><%= @dv.median %></p>
<p><B>Min:</B>   <%= @dv.min %></p>
<p><B>Max:</B>   <%= @dv.max %></p>

<br>

<p><B>Resultant Graph</B></p>

<%== @plot.to_iruby.second %>

<br>
<br>
<br>

